<!-- 

  show_entries.html
  DBアクセス方法のスニペット

  継承元: layout.html

 -->
<!-- 親となるテンプレートを継承 -->
{% extends "layout.html" %}
<!-- 親テンプレートのbody要素を書き変え　 -->
{% block content %}
  <!-- ログイン中ならば追加要素を表示 -->
  {% if session.logged_in %}
    <form action="{{ url_for('add_entry') }}" method="post" class="add-entry">
      <dl>
        <dt>タイトル:
        <dd><input type="text" size=30 name="title">
        <dt>本文:
        <dd><textarea name="text" rows=5 cols=40></textarea>
        <dd><input type="submit" value="追加">
      </dl>
    </form>
  {% endif %}

  <!-- エントリ一覧の表示 -->
  <ul class="entries">
  {% for entry in entries %}
    <!-- エントリが存在するとき -->
    <li>
      <h2>{{ entry.title }}</h2>
      <!-- |safe: jinja2自動エスケープ機能 -->
      {{ entry.text|safe }}
  {% else %}</li>
    <!-- エントリが存在しない時 -->
    <li><em>マジか！　エントリーなんて無かったんだ…</em>
  {% endfor %}
  </ul>
{% endblock content %}